.Barchartcontainer{
    width: max-content;
    height: 110%;
    cursor: pointer;
    margin-top: 5vmax;
   
    
}




@media screen and (max-width:600px){
    .Barchartcontainer{
        width:min-content;
        height: min-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        
    }
}