.Barchartcontainer{
    width: 150%;
    height: 110%;
    cursor: pointer;
    margin-top: 5vmax;
   
    
}




@media screen and (max-width:600px){
    .Barchartcontainer{
        width: 45%;
        height: min-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
    }
}